<h1>Listing normal_ranges</h1>

<table>
  <thead>
    <tr>
      <th>Low</th>
      <th>High</th>
      <th>Laboratory</th>
      <th>Start date</th>
      <th>End date</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @normal_ranges.each do |normal_range| %>
      <tr>
        <td><%= normal_range.low %></td>
        <td><%= normal_range.high %></td>
        <td><%= normal_range.laboratory.name %></td>
        <td><%= normal_range.start_date %></td>
        <td><%= normal_range.end_date %></td>
        <td><%= link_to 'Show', test_item_normal_range_path(@test, @item, normal_range) %></td>
        <td><%= link_to 'Edit', edit_test_item_normal_range_path(@test, @item, normal_range) %></td>
        <td><%= link_to 'Destroy', test_item_normal_range_path(@test, @item, normal_range), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Normal range', new_test_item_normal_range_path(@test, @item) %>
<%= link_to 'Back to Test Item', test_item_path(@test, @item) %>