<p id="notice"><%= notice %></p>

<p>
  <strong>Low:</strong>
  <%= @normal_range.low %>
</p>

<p>
  <strong>High:</strong>
  <%= @normal_range.high %>
</p>

<p>
  <strong>Laboratory:</strong>
  <%= @normal_range.laboratory.name %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @normal_range.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @normal_range.end_date %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @normal_range.gender %>
</p>

<%= link_to 'Edit', edit_test_item_normal_range_path(@test, @item, @normal_range) %> |
<%= link_to 'Back', test_item_normal_ranges_path %>
