= form_for(@user_test) do |f|
  - if @user_test.errors.any?
    %div#error_explanation
      %h2 #{pluralize(@user_test.errors.count, "error")} prohibited this user_test from being saved:
      %ul
        - @user_test.errors.full_messages.each do |msg|
          %li= msg

  %div.field
    = f.label :test_id
    = collection_select(:user_test, :test_id, Test.all, :id, :full_name, :prompt => "Select the test")

  %div.field
    = f.label :laboratory_id
    = collection_select(:user_test, :laboratory_id, Laboratory.all, :id, :name, :prompt => "Select the lab")

  %div.field
    = f.label :doctor_id
    = f.number_field :doctor_id

  %div.field
    = f.label :test_date
    = f.date_field :test_date

  %div.actions
    = f.submit
