.col-md-4
  %h1 My tests

  = link_to '+ Add a Test', new_user_test_path
  = form_tag compare_path, :url => compare_path , :method => 'POST'
  - if @user_tests.any?
    %table.table
      %thead
        %tr
          %th Date
          %th Test
          %th Lab
          %th Doctor
          %th
          %th
          %th Compare
      %tbody
        - @user_tests.each do |user_test|
          %tr
            %td= user_test.test_date
            %td= user_test.test.full_name
            %td= user_test.laboratory.name
            %td= user_test.doctor_id
            %td= link_to 'Show', user_test_results_path(user_test)
            / %td= link_to 'Edit', edit_user_user_test_path(current_user, user_test)
            %td= link_to 'Destroy', user_test_path(user_test), method: :delete, data: { confirm: 'Are you sure?' }
            %td= check_box_tag('compare[]', user_test.id)
    = submit_tag("Compare Selected")