%h1 Get Started

= form_for(@user) do |f|
  - if @user.errors.any?
    %div#error_explanation
      %h2 #{pluralize(@user.errors.count, "error")} prohibited this user from being saved:
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  %div.field
    = f.text_field :first_name, :placeholder => "First Name"

  %div.field
    = f.text_field :last_name, :placeholder => "Last Name"
  
  %div.field
    = f.text_field :email, :placeholder => "Email"

  %div.field
    = f.date_field :dob

  %div.field
    / = f.select :gender, options_for_select(User.genders.collect {|gender| [gender[0].titleize, gender[0]]}, :selected => @user.gender), :prompt => "Select Gender"

    / # = f.select :gender, options_from_collection_for_select(User.genders, :key, :key, :selected => @user.gender), :prompt => "Select Gender"

    = f.select :gender, options_for_select(User.genders, :selected => User.genders[@user.gender]), :prompt => "Select Gender"

  %div.field
    = f.number_field :zip, :placeholder => "ZIP"

  %div.field
    = f.password_field :password, :placeholder => "Password"

  %div.field
    = f.password_field :password_confirmation , :placeholder => "Password Confirmation"   

  %div.actions
    = f.submit "Sign Up"

