= form_for([@user_test, @results]) do |f|
  - if @results.errors.any?
    %div#error_explanation
      %h2 #{pluralize(@results.errors.count, "error")} prohibited this result from being saved:
      %ul
        - @results.errors.full_messages.each do |msg|
          %li= msg

  %table
    %thead
      %tr
        %th Item
        %th Amount
        %th Units
    %tbody
      - @items.each do |item|
        = hidden_field_tag('result[]item_id', item.id)
        %tr
          %td= item.full_name 
          %td= text_field_tag('result[]amount')
          %td= item.units

  %div.actions
    = f.submit
