<p id="notice"><%= notice %></p>

<p>
  <strong>User test:</strong>
  <%= @result.user_test_id %>
</p>

<p>
  <strong>Item:</strong>
  <%= @result.item_id %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @result.amount %>
</p>

<%= link_to 'Edit', edit_user_user_test_result_path(@user, @user_test, @result) %> |
<%= link_to 'Back', user_user_test_results_path %>
