<h1>Listing <%= @test.full_name %> test items</h1>

<table>
  <thead>
    <tr>
      <th>Full name</th>
      <th>Short name</th>
      <th>Depends on age</th>
      <th>Depends on gender</th>
      <th>Units</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.full_name %></td>
        <td><%= item.short_name %></td>
        <td><%= item.depends_on_age %></td>
        <td><%= item.depends_on_gender %></td>
        <td><%= item.units %></td>
        <td><%= link_to 'Show', test_item_path(@test, item) %></td>
        <td><%= link_to 'Edit', edit_test_item_path(@test, item) %></td>
        <td><%= link_to 'Destroy', test_item_path(@test, item), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Test item', new_test_item_path %>
<%= link_to 'Back to All Tests', tests_path %>

