<p id="notice"><%= notice %></p>

<p>
  <strong>Full name:</strong>
  <%= @test.full_name %>
</p>

<p>
  <strong>Short name:</strong>
  <%= @test.short_name %>
</p>

<p>
  <strong>Cpt code:</strong>
  <%= @test.cpt_code %>
</p>

<%= link_to 'Edit', edit_test_path(@test) %> |
<%= link_to 'Back', tests_path %>

<%= link_to 'All Test items', test_items_path(@test) %>

<%= link_to 'New Test item', new_test_item_path(@test) %>